main {
  padding-top: 180px;
  color: var(--text-color);
  background-color: var(--layout-background-color);
  overflow: hidden;
}

main > * {
  padding: 0.25rem 2.25rem 2.25rem;
}

h3 {
  font-size: 1.5rem;
  border-top: 1px solid #dbdbdb;
  margin: 0;
  padding: 50px;
  font-weight: 800;
}

.charts {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
  main {
    padding-top: 290px;
  }
}

@media only screen and (max-width: 745px) {
  main {
    padding-top: 380px;
  }

  main > * {
    padding: 5px;
  }

  .charts {
    flex-direction: column;
    align-items: center;
  }
  .charts > * {
    margin-bottom: 100px;
  }
}
