:host {
  color: var(--text-color);
  position: fixed;
  z-index: 20;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(26,31,51,0.38) 0 10px 16px 0;
}

.hamburger {
  cursor: pointer;
}

.active .bar3 {
  transform: translate(0, -4px) rotate(-45deg);
}

.highlight-navbar {
  background: rgba(255,255,255,0.2);
  border-radius: 30px;
}

.active .bar2 {
  opacity: 0;
}

.active .bar1 {
  transform: translate(0, 8px) rotate(45deg);
}

.bar1,
.bar2,
.bar3 {
  width: 22px;
  height: 2px;
  background: var(--text-color);
  margin: 4px 0;
  transition: 0.4s;
}

header {
  display: flex;
  align-items: center;
  padding: 5px 22px;
  height: 10vh;
  position: relative;
}

header > * {
  margin-left: 25px;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-content > * {
  margin-left: 15px;
}

.navbar-content > img {
  height: 100%;
  max-width: 247px;
  max-height: 47px;
  width: 100%;
}

header > button {
  cursor: pointer;
  position: absolute;
  left: 0;
  border: none;
  padding: 10px;
  background-color: #39475d;
  padding-right: 15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin: 0;
}

header > button > img {
  height: 27px;
}

.active-theme-button {
  background-color: #d8d8d8 !important;
}

.text-desc {
  display: flex;
  align-items: center;
}

.text-desc > * {
  padding: 0 15px;
  font-weight: 700;
}

.text-desc > h4 {
  border-left: 1px solid var(--text-color);
}

.text-desc > span {
  font-size: 0.8rem;
}

nav > ul {
  background: rgb(55, 79, 96);
  padding: 11px 0px;
  display: flex;
  justify-content: space-around;

  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  li {
    cursor: pointer;
    list-style: none;
    color: var(--text-color);
    padding: 5px 15px;
    white-space: nowrap;
  }
}

nav > ul::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    height: 20vh;
  }

  .text-desc {
    display: block;
  }
}

@media only screen and (max-width: 745px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
  }

  .text-desc > * {
    border: none !important;
    margin: 0;
    padding: 5px 0;
  }

  header {
    height: 30vh;
  }
}

@media only screen and (max-width: 460px) {
  .navbar-content > img {
    max-width: 220px;
    max-height: 44px;
  }

  header > button {
    padding: 5px;
  }
}
