/* You can add global styles to this file, and also import other style files */
@use "./styles/variables";
@import "./styles/chartStyles.scss";
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans Hebrew", sans-serif;
  direction: rtl;
}

.bold {
  font-weight: 800;
}

.demo-chart {
  width: unset;
  height: unset !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
